[alias]
	st = status
	co = checkout
	dt = difftool
	mt = mergetool
	ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
	df = diff -w
[color]
	ui = true
[push]
	default = simple
[diff]
	compactionHeuristic = true
[branch]
	autosetuprebase = always
