!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.antialias:                 true
Xft.rgba:                      rgb
Xft.hinting:                   true
Xft.lcdfilter:                 lcddefault
! Xft.dpi:                       106
! Xft.hintstyle:                 hintmedium
! Xft.autohint:                  0

URxvt.termName:                rxvt-256color
URxvt.iso14755:                False
URxvt.depth:                   32
URxvt.transparent:             false
URxvt.fading:                  1
URxvt.loginShell:              true
URxvt.saveLines:               500
URxvt.lineSpace:               0
! URxvt.internalBorder:          0
! URxvt.geometry:                90x30
! URxvt.urgentOnBell:            true
! URxvt.visualBell:              true

URxvt.pointerBlank:            true

! Fonts
URxvt.allow_bold:              true
URxvt*font:                    xft:Source\ Code\ Pro\ Medium:pixelsize=14:antialias=true:hinting=true
URxvt*boldFont:                xft:Source Code Pro for Powerline-10:bold
URxvt.borderless:              true
URxvt.scrollStyle:             rxvt
URxvt.scrollBar:               false
! URxvt*letterSpace: 0.5

URxvt.cursorBlink:             false
URxvt.cursorColor:             #657b83
URxvt.cursorUnderline:         false

URxvt.perl-ext-common:         default,matcher,font-size,color-themes,selection_to_clipboard
URxvt.matcher.button:          1
URxvt.url-launcher:            chromium

URxvt.color-themes.state-file: ~/.urxvt-theme
URxvt.color-themes.autosave:   1
URxvt.keysym.M-C-l:            perl:color-themes:load-state
URxvt.keysym.M-C-s:            perl:color-themes:save-state
URxvt.color-themes.themedir:   ~/.config/urxvt/themes
URxvt.keysym.M-C-n:            perl:color-themes:next
URxvt.keysym.M-C-p:            perl:color-themes:prev

URxvt.keysym.C-S-Up:           font-size:increase
URxvt.keysym.C-S-Down:         font-size:decrease
URxvt.keysym.C-0:              font-size:reset
URxvt.font-size.step:          4

! URxvt.clipboard.autocopy:      true

URxvt*background:              #fdf6e3
URxvt*foreground:              #657b83

! red
*color1:                       #a40000
*color9:                       #EF2929
! green
*color2:                       #4E9A06
*color10:                      #8AE234
! yellow
*color3:                       #C4A000
*color11:                      #FCE94F
! blue
*color4:                       #3465A4
*color12:                      #729FCF
! purple
*color5:                       #75507B
*color13:                      #AD7FA8
! orange                       (replaces cyan)
*color6:                       #ce5c00
*color14:                      #fcaf3e
! white
*color7:                       #babdb9
*color15:                      #EEEEEC
