!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

! Xft.dpi:                    106
! Xft.autohint:               0
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
! Xft.hintstyle:              hintmedium
Xft.lcdfilter:              lcddefault

URxvt.termName:         rxvt-256color
URxvt.iso14755:             False
URxvt.depth:                32
! URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               1
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            500
! URxvt.internalBorder:       0
URxvt.lineSpace:            0
! Fonts
URxvt.allow_bold:           true
URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=14:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro for Powerline-10:bold
! Fix font space
! URxvt*letterSpace: 0.5
URxvt.borderless:       true
! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,font-size,color-themes
! URxvt.color-themes.preprocessor: /nix/store/vkrfglhfmmnk84qidvvxb7pq3wf1mcn2-gcc-wrapper-5.4.0/bin/cpp
URxvt.matcher.button:       1
URxvt.urlLauncher:          chromium

URxvt.color-themes.themedir:  ~/.config/urxvt/themes
URxvt.keysym.M-C-n:  perl:color-themes:next
URxvt.keysym.M-C-p:  perl:color-themes:prev

URxvt.keysym.M-C-Up:     font-size:increase
URxvt.keysym.M-C-Down:   font-size:decrease
URxvt.keysym.M-C-0:   font-size:reset
URxvt.font-size.step: 4

URxvt.color-themes.state-file: ~/.urxvt-theme
URxvt.color-themes.autosave: 1
URxvt.keysym.M-C-l:  perl:color-themes:load-state
URxvt.keysym.M-C-s:  perl:color-themes:save-state
! Cursor
URxvt.cursorBlink:          false
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true


URxvt*background:             #fdf6e3
URxvt*foreground:             #657b83

! black
*color0:  #2E3436
*color8:  #555753
! red
*color1:  #a40000
*color9:  #EF2929
! green
*color2:  #4E9A06
*color10: #8AE234
! yellow
*color3:  #C4A000
*color11: #FCE94F
! blue
*color4:  #3465A4
*color12: #729FCF
! purple
*color5:  #75507B
*color13: #AD7FA8
! orange (replaces cyan)
*color6:  #ce5c00
*color14: #fcaf3e
! white
*color7:  #babdb9
*color15: #EEEEEC
